/* Romika Chaudhary C0921918 April 7, 2024 */

body {
    font-family: 'Roboto', sans-serif;
    color: #fff; /* Text color changed to white */
    background-color: #222; /* Dark gray background color */
}

.banner {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.banner h2 {
    margin: 0; 
    font-size: 24px; 
}

.banner p {
    margin: 10px 0; 
    font-size: 16px;
}

.picture-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; 
    padding: 10px; 
    margin-bottom: 40px; 
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    height: 500px;
    margin: 0 auto; 
    overflow: hidden; 
}

.picture-display img {
    max-width: 100%; /* Set maximum width to fill the container */
    max-height: 100%; /* Set maximum height to fill the container */
    display: block; 
    margin: auto; 
}


.search-container {
    margin-bottom: 20px;
}

.myForm,
.search-weather {
    display: flex;
    align-items: center;
}

.unsplash,
.weather-container {
    background-color: #333; 
    padding: 10px; 
    margin-bottom: 40px; 
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    margin: 0 auto; 
}

.weather_searchForm, .picClass {
    align-items: center;
    margin: auto;
}

.container {
    padding: 1rem;
    border-radius: 5px; /* Reduced border radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduced box shadow */
    width: 75%; /* Set width to 75% of viewport width */
    min-width: 300px; /* Set minimum width to 300px */
    margin: 0 auto; /* Center the element horizontally */
}

.app-title {
    margin-bottom: 1rem;
}

/* CSS Rules for user input*/
input {
    border: 1px solid #ccc; /* Light gray border color */
    border-radius: 3px; /* Reduced border radius */
    background-color: #444; /* Darker background color */
    color: #fff; /* Text color changed to white */
    padding: 0.5rem; /* Reduced padding */
}

/* CSS Rules for search icon button*/
.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}


/* CSS Rules for displaying temperature in degree celcius and degree fahrenheit */
.weather_temp{
    font-size: 1.25rem; 
    text-align: center;
}

.loading {
    font-size: 1rem; 
    text-align: center;
}

.weather_whole {
    text-align: center;
    margin-top: 2rem; /* Reduced margin */
}

.weather_dateNtime {
    margin-bottom: 0.25rem; /* Reduced margin */
    font-size: 12px; /* Reduced font size */
}

/* CSS Rules for displaying whether the climate is clear, cloudy or rainy */
.forecast_weather {
    font-size: 16px; /* Reduced font size */
}

.icon_weather img {
    width: 80px; /* Reduced image size */
    margin-bottom: -10px; /* Adjusted margin */
}

.weather_temperature {
    font-size: 2rem; /* Reduced font size */
}

/* CSS Rules for min and max temperature*/
.minMax_weather {
    margin-top: -10px; /* Adjusted margin */
}

/* CSS Rules for cards*/
.card_weather {
    padding: 5px; 
    margin: auto; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 350px;
    align-items: center;
    text-align: center;
}

.card_weather i {
    font-size: 1.2rem; 
}

.card_weather p {
    font-size: 12px; 
    margin: 5px 0; 
}


/* CSS Rules for displaying Feels like, humidity, wind and pressure*/
.weather_feels_like,
.weather_humidity,
.weather_wind,
.weather_gauge {
    margin: 5px; /* Adjusted margin */
}

/* #pictureDisplay {
    background-color: #333; 
    padding: 10px; 
    margin-bottom: 40px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    margin: 0 auto; 

} */



/* CSS Rules for making screen responsive*/
@media (max-width: 576px) {
    .container, .unsplash, .weather-container {
        width: 90%; /* Adjusted width for smaller screens */
        max-width: none; /* No maximum width for smaller screens */
    }
}
