/* Romika Chaudhary C0921918 April 7, 2024 */

body {
    font-family: 'Roboto', sans-serif;
    color: #fff; 
    background-color: #222; 
}

.banner {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.banner h2 {
    margin: 0; 
    font-size: 30px; 
}

.banner h5, h5 {
    margin: 10px 0; 
    font-size: 16px;
    margin-top: 30px;
}

.picture-display {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; 
    padding: 10px; 
    margin-bottom: 40px; 
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    height: 500px;
    margin: 0 auto; 
    overflow: hidden; 
}

.picture-display img {
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.search-container {
    margin-bottom: 20px;
}

.myForm,
.search-weather {
    display: flex;
    align-items: center;
}

.unsplash,
.weather-container {
    background-color: #333; 
    padding: 10px; 
    border-radius: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    margin: 0 auto 10px; 
}

.weather_searchForm, .picClass {
    align-items: center;
    margin: auto;
}

.container {
    padding: 1rem;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    width: 75%; 
    min-width: 300px; 
    margin: 0 auto; 
}

/* .app-title {
    margin-bottom: 1rem;
} */

/*CSS Rules for Search*/
.myForm h2 {
    font-size: large;
    margin-left:40px;
}

.search-weather h2 {
    font-size: large;
    margin-left:40px;
}

/* CSS Rules for user input*/
input {
    border: 1px solid #ccc; 
    border-radius: 3px; 
    background-color: #444; 
    color: #fff; 
    padding: 0.5rem; 
}

/* CSS Rules for search icon button*/
.icon-button {
    border: none;
    background: none;
    cursor: pointer;
}
  
.icon-button i {
    font-size: 24px;
    color: #000; 
}


/* CSS Rules for search form*/
.search-weather {
    position: relative;
}

.search-weather i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather_searchForm, .picClass {
    border-radius: 25px;
    margin-bottom: 10px;
    width: 300px;
}

.unsplash form{
    display: flex;
    margin: auto;
    align-items: center;
}

/* CSS Rules for displaying temperature in degree celcius and degree fahrenheit */
.weather_temp {
    font-size: 1.5rem;
}

.weather_temp span {
    cursor: pointer;
}

.weather_temp span:first-child {
    margin-right: 0.5rem;
}

.weather_whole {
    text-align: center;
    margin-top: 3rem;
}

.weather_dateNtime {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

/* CSS Rules for displaying whether the climate is clear, cloudy or rainy */
.forecast_weather {
    display: inline-block;
    font-size: 20px;
}

.icon_weather img {
    width: 100px;
    margin-bottom: -20px;
}

.weather_temperature {
    font-size: 1.75rem;
}

/* CSS Rules for min and max temperature*/
.minMax_weather {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.minMax_weather p {
    font-size: 1rem;
    margin: 0%;
}

.information_weather{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

/* CSS Rules for cards*/
.card_weather {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    border: 0.5px solid white;
}

.card_weather i {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.card_weather p {
    font-size: 14px;
}

/* CSS Rules for displaying Feels like, humidity, wind and pressure*/
.weather_feels_like {
    margin: 7px;
}

.weather_humidity {
    margin: 7px;
}

.weather_wind {
    margin: 7px;
}

.weather_gauge {
    margin: 7px;
}

.weather_wind {
    position: relative;
}


/*CSS Rules for making screen responsive*/
@media (max-width: 576px) {
    .banner, .container, .unsplash, .weather-container, .picture-display {
        width: 90%; 
        max-width: none; 
    }
}
